In [9]:
import pandas as pd

In [10]:
df = pd.read_csv('names.txt',delimiter=' ')

In [11]:
df[:2]

    姓名 性别
0  杨嘟嘟  女
1  王语彤  女

In [12]:
sql_f = "INSERT INTO llx.form_personal (`form_id`,`user_id`,`field_code`,`field_name`,`field_val`) VALUES (%d,%d,'%s','%s','%s');"

In [13]:
form_id = 15
user_id = 1

fields = [{
    'field_code':'txt1',
    'field_name':'姓名'
},{
    'field_code':'txt2',
    'field_name':'性别'
}]

with open('sql.sql','w') as w:
    for inx,item in df.iterrows():
        for field in fields:
            field_code = ''
            field_name = ''
            field_val = ''

            field_code = field['field_code'].strip()
            field_name = field['field_name'].strip()
            field_val = item[field_name]

            sql = sql_f % (form_id,user_id,field_code,field_name,field_val)

            w.write(sql + '\n')
        user_id += 1

In [14]:
for item in fields:
    print(item['field_code'])
    break

txt1